@import "../../shared/colors.scss";

footer{
  background-color: $nav-background;
  padding: 10px;
    a{
      color:$page-title;
      text-decoration: none;
      font-style: italic;
    }
}

p{
  color:white;
}
