<section>
  <ng-container *ngIf="!isLoading else loading">
    <div class="row pt-4 text-center">
      <h1 class="tex-white">Country details</h1>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card-format my-4">
          <div class="row">
            <span class="country-name text-white">{{ country.name}}</span>
          </div>
          <div class="row">
            <div class="col-sm-5" style="text-align: center;">
              <img [src]="country.flag" width="220" [alt]="country.name"/>
            </div>
            <div class="col-sm-7 d-flex flex-column ps-3">
              <div class="d-flex align-items-end">
                <span class="title-data">Capital:</span>
                <span class="content-data">{{ country.capital}}</span>
              </div>

              <div class="d-flex align-items-end">
                <span class="title-data">Population:</span>
                <span class="content-data">{{ country.population | number }} hab.</span>
              </div>

              <div class="d-flex align-items-end">
                <span class="title-data">Area:</span>
                <span class="content-data">{{ country.area | number }} km<sup>2</sup></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <div class="d-flex align-items-end">
                <span class="title-data">Region:</span>
                <span class="content-data">{{ country.region }}</span>
              </div>
              <div class="d-flex align-items-end">
                <span class="title-data">Subregion:</span>
                <span class="content-data">{{ country.subregion }}</span>
              </div>
            </div>
          </div>
          <div class="row pb-3">
            <div class="d-flex align-items-end">
              <span class="title-data">{{ numOfLanguages > 1 ? "Languages:" : "Language:"}}</span>
              <span class="content-data"> {{languagesFormated }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading *ngIf="isLoading"></app-loading>
  </ng-template>

</section>



