@import "../../shared/colors.scss";

nav{
  background-color: $nav-background;
}

.item-nav{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 18px;

  a{
    color:white;
    text-decoration: none;
  }

  .active{
    color:#ff000c;
  }
}

.title{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 36px;
  color:#0af526;

  a{
    color: #0af526;
    text-decoration: none;
  }
}


