<nav class="w-100 d-flex justify-content-between align-items-baseline" [style.height.px]="navHeight">
  <div>
    <ul>
      <li class="item-nav">
        <div class="d-flex me5" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <a routerLink="/home">Home</a>
        </div>

      </li>
      <li class="item-nav">
        <div class="d-flex me5" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon>
          <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <span class="title"><a routerLink="/home">Infocountries</a></span>
  </div>
</nav>
