@import "../../shared/colors.scss";

nav{
  background-color: $nav-background;
}

.item-nav{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 18px;

  a, span{
    color:white;
    text-decoration: none;
  }
  .active{
    color: $link-active;
      a {
        color: $link-active;
      }

      mat-icon {
        color: $link-active;
      }
  }
}

mat-icon {
  color:white;
}

.title{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 36px;
  color:$page-title;

  a{
    color: $page-title;
    text-decoration: none;
  }
}

.me5{
  margin-right: 5px;
}


