.item-nav{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 18px;

  a{
    color:white;
    text-decoration: none;

  }

  .active{
    color:orange;
  }
}

.title{
  display: inline-block;
  margin: 0px 15px;
  padding: 10px;
  font-size: 36px;
  color:crimson;
}


