<section>
  <ng-container *ngIf="!isLoading else loading">
    <form  [formGroup]="searchForm">
      <!-- Search -->
      <div class="row">
        <div class="col-3 my-4 mx-2">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingSearch" placeholder="Search" formControlName="name" (keyup)="search()">
            <label for="floatingSearch">Search</label>
          </div>
        </div>
        <!-- Region -->
        <div class="col-3 my-4 mx-2">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectRegion" formControlName="region" (change)="filterCountryRegion()">
              <option value= 'all'>All</option>
              <option *ngFor="let region of regionList" [value]="region">{{region}}</option>
            </select>
            <label for="floatingSelectRegion">Region</label>
          </div>
        </div>
        <!-- Subregion -->
        <div class="col-3 my-4 mx-2">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectSubRegion" formControlName="subregion" (change)="filterCountrySubRegion()">
              <option value= 'all'>All</option>
              <option *ngFor="let subregion of subregionList" [value]="subregion">{{subregion}}</option>
            </select>
            <label for="floatingSelectSubRegion">Subregion</label>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <div class="d-flex">
      <div class="flag-arrangement">
        <app-flag class="m-4" *ngFor="let flag of flagList" [flag_data]="flag"></app-flag>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading class="d-flex justify-content-center"></app-loading>
  </ng-template>
</section>
