<section>
  <h1 class="text-center mb-3">Welcome to infocountries page</h1>

  <div class="m-3">
    <p>I have created this project to practice on consuming from an API and get deeper knowledge on Angular and the way it works.</p>
    <p>Choose one of the following countries to access to its details or press the button to acces to a
      <button class="btn-random" [disabled]="randomButtonDisabled" (click)="randomCountry()"
        [ngStyle]="{'background-color':randomButtonDisabled === false ? '#0dcaf0' : '#adb5bd' }">
        Random country
      </button>
    </p>
  </div>
  <div>
    <app-search (codeListEmiter)="createCodeList($event)"></app-search>
  </div>
</section>

